.loader {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border: 0.4rem solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: var(--red);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.loaderWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;

  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
